* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid blue; */
}

:root {
    --background: #18191A;
    --hover: #3A3B3C;
    --card: #1DA1F2;
    --primary: #E4E6EB;
    --secondary: #B0B3B8;
}

/* common tags */
body {
    font-family: sans-serif;
}

header {
    height: 4rem;
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 25px;
    background-color: var(--hover);
}

main {
    margin: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 18px;
}

ul {
    list-style-type: none;
}

/* common classes */
.color-white {
    color: var(--primary);
}

.main-container {
    height: 100vh;
    color: var(--primary);
    background-color: var(--background);
}

.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.rg-50 {
    row-gap: 50px;
}

.rg-25 {
    row-gap: 25px;
}

.main-part {
    height: 420px;
    width:320px;
    margin: 10px auto;
    padding: 10px 10px;
    overflow-y: auto;
    background-color: var(--hover);
    border-radius: 10px;
}

.btn {
    border: 0;
    padding: 0.5rem 1rem;
	font-size: 1rem;
    cursor: pointer;
    border-radius: 30px;
    background-color: var(--card);
}

.no-decoration {
    text-decoration: none;
}

    /* Home Pages */
.home-form {
    width: 300px;
    align-items: center;
    row-gap: 25px;
}

.home-form input {
    height: 2.2rem;
    padding: 10px;
    font-size: 1rem;
    outline: none;
}

.error {
    text-align: center;
    color: red;
}

.register {
    justify-content: center;
    column-gap: 15px;
}